@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Inter", system-ui, -apple-system, Helvetica Neue, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
		Cantarell, Fira Sans, Droid Sans, sans-serif;
	direction: ltr;
	font-feature-settings: "kern";
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-scroll-behavior: smooth;
	-moz-scroll-behavior: smooth;
	-ms-scroll-behavior: smooth;
	scroll-behavior: smooth;
}

main {
	min-height: 100vh;
}

input:focus,
button:focus {
	outline: 0 !important;
}
